<article class="container">
<div class="col-xs-12">
  <%= link_to 'Add an Owner', new_owner_path, class: 'btn btn-primary' %>
  <br/><br/>

  <h3>All Owners</h3>

  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
    </thead>

    <tbody>
      <% @owners.each do |owner| %>
        <tr>
          <td data-field="owner.id"><%= owner.id %></td>
          <td data-field="owner.name"><%= owner.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
</article>

