<article class="container">
<div class="col-xs-12">
  <%= link_to 'Add an Pet', new_pet_path, class: 'btn btn-primary' %>
  <br/><br/>

  <h3>All Pets</h3>

  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
    </thead>

    <tbody>
      <% @pets.each do |pet| %>
        <tr>
          <td data-field="pet.id"><%= pet.id %></td>
          <td data-field="pet.name"><%= pet.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
</article>

