<h1>New Pet</h1>

<%= form_tag(pets_path, method: 'post') do %>

  <div>
    <%= label_tag :name %><br />
    <%= text_field_tag :name %>
  </div>

  <br>

   <div><%= submit_tag 'Save' %></div>

<% end %>
